html
    head
        meta(charset="utf-8")
        title The best Hotel in world!
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        
        script(src="../../static/js/jq-ui-1-12-1/jquery-ui.js")
        script(src="../../static/js/scripts.js")
        link(rel="stylesheet", href="../../static/css/main.css")
        link(rel="stylesheet", href="../../static/js/jq-ui-1-12-1/jquery-ui.css")

    body
        include topmenu.pug
        block content
        include footer.pug