section(id="downside")
    div(class="container downside_box")
        div(class="corp")
            p. 
                Бронирование номеров в лучшем отеле 2019 года по версии
                ассоциации "Отельные взгляды"
        div
            p Навигация
            menu
                li О нас
                li Услуги
                li Вакансии
                li Новости
                li Соглашения        
        div
            p О нас
            menu
                li О нас
                li Услуги
                li Вакансии
                li Новости
                li Соглашения
                div
        p Служба поддержки
            menu
                li О нас
                li Услуги
                li Вакансии
                li Новости
                li Соглашения
        p Подписка
            menu
                li О нас
                li Услуги
                li Вакансии
                li Новости
                li Соглашения