section(id="topside")
    div(class="container")
        div(class="topside-logo")
        
        div(class="topside_nav")
            div(class="topside_nav-menu")
                menu
                    li О нас
                    li(class="arrow-down") Услуги
                    li Вакансии 
                    li Новости
                    li Соглашения
            div(class="topside_nav-buttons")
                button(class="signin") 
                    h3 Войти
                button(class="signup") 
                    h3 Зарегестрироваться

    