section(id="topside")
    div(class="container topside_box")
        div(class="topside-logo")
        div(class="topside-menu")
            menu
                li О нас
                li Услуги
                li Вакансии
                li Новости
                li Соглашения
        div(class="topside-buttons")
            button(class="sign-in") Войти
            button(class="sign-up") Зарегестрироваться

    