mixin card-standart(title)
    .card-standart
        div(class="search_card card")
            div(class="search_hotel-header")
                h1=title
            div(class="card-body")
                div()
                    h3 Прибытие 
                    input(type="text" class="date1" placeholder="ДД.ММ.ГГГГ")
                div()
                    h3 Выезд
                    input(type="text" class="date2" placeholder="ДД.ММ.ГГГГ")
                div()
                    h3 Гости
                    select(placeholder="Сколько гостей")
                        option(value="" selected disabled) Сколько гостей
                        option(value="adult_visiter") Взрослые
                        option(value="child_visiter") Дети
                        option(value="baby_visiter") Младенцы
            div(class="card-down")
                div(class="takeit")
                    a(href="./filters.html") Подобрать

