/* 
*** Здесь изложены миксины карточек и их готовые вариации
*/

@mixin card($padding:$space_30, $border_radius:4px, $gap_x:0, $gap_y:0, $marginD:0px) {
    padding: $padding;
    border-radius: $border_radius;
    display: grid;

    h1{padding-top: $space_10 - 3px;}

    &>.card_header{
        h3{padding-bottom: 16px;}
        .small-text{float:right;}
    }
    &>.card_body{
        display: grid;
        grid-gap: $gap_y $gap_x;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    &>.card_down{
        margin-top: $marginD;
    }
}

/* Используется в основном на странице результатов */
@mixin card_casper{
    @include card(0, 0, 8px, 10px);
    margin-bottom: $space_30;
    
    &>.card_body{
        grid-template-rows: 1fr;
        grid-template-columns: auto 1fr;
    }
}

// Карточка фильтров с двумя колонками в теле
.card_casper{@include card_casper();}


// Карточка фильтров с одной колонкой в теле
.card_casper_once{
    @include card_casper();
    
    &:first-of-type{margin-bottom: $space_20;}
    
    &>.card_header{h3{padding-bottom: 5px;}}
    &:nth-of-type(3)>.card_header{
        padding-bottom: 21px;
    }
    &>.card_body{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-gap: none;
    }
}


// Карточка выбора номера с главной страницы
.search_card{
    @include card($padding:$space_30, $border_radius:4px, $gap_x:10px, $gap_y:20px, $marginD:30px);
    margin-top: 70px;
    background: white;
    box-shadow: 0px 0px 25px $ui_dark_shade1;
    .card_body{ div:nth-of-type(3){grid-column: span 2;} }
    
}


// Карточка с фотографией номера на странице фильров
.res_card{
    div, h3, h4, p{display: inherit; line-height: 23px;}
    p{color:$dark50;}
    h3{color: $purple;}
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
    margin-bottom: $padding_20;

    .res_card-header{
        border-radius: 4px 4px 0px 0px;
        height: 151.3px;
        width: 100%;
        background: url(https://placeimg.com/640/480/nature);
        background-repeat: no-repeat;
    }
    .res_card-body{
        flex-direction: row;
        justify-content: space-between;
        margin: 0px $padding_20;
        padding: 20px 0px 10px 0px;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        
        
        &>div>h4{padding-right:6px;}

        &>div{align-items: flex-end;}
        &>div:nth-of-type(2){flex-grow: 1;}
        &>div:nth-of-type(3) h4{color: $dark50;}
    }
    .res_card-footer{
        &>div{align-items: flex-end;}
        padding: 8px 19px $padding_20 $padding_20;
    }
}


.detail_card{
    @include card($padding:$space_30, $border_radius:4px, $gap_x:10px, $gap_y:20px, $marginD:30px);
}