extends base.pug
block content
    
    section(id="middleside" class="middle_img")
        div(class="container")
            div(class="card search_hotel")
                div(class="card_header")
                    div(class="col") 
                        h1 Найдем номера под ваши пожелания
                div(class="card_body")
                    div(class="row")
                        div(class="col-2")
                            h3 Прибытие 
                            input(type="text")
                        div(class="col-2")
                            h3 Выезд
                            input(type="text")
                        div(class="col")
                            h3 Количество гостей
                            input(type="text")
                        
                div(class="card_footer")
                    div(class="takeit") Подобрать