section(id="downside")
    div(class="wrapper")
        div(class="downside_corp")
            div(class="downside_corp-logo")
                
            div(class="downside_corp-text")
                p. 
                    Бронирование номеров в лучшем отеле 2019 года по версии
                    ассоциации «Отельные взгляды»
        div(class="card_casper")
            div(class="card_casper-head")
                h3 Навигация
            div(class="card_casper-body")
                menu
                    li О нас
                    li Новости
                    li Служба поддержки
                    li Услуги
        div(class="card_casper")
            div(class="card_casper-head")
                h3 О нас
            div(class="card_casper-body")
                menu
                    li О сервисе
                    li Наша команда
                    li Вакансии
                    li Инвесторам
        div(class="card_casper")
            div(class="card_casper-head")
                h3 Служба поддержки
            div(class="card_casper-body")
                menu
                    li Соглашения
                    li Сообщества
                    li Связь с нами
        div(class="downside_corp")
            div(class="card-head") 
                h3 Подписка
            div(class="card-text") 
                p Получайте специальные предложения и новости сервиса
                input(type="text")


section(id="corpside")
    div(class="wrapper")
        div(class="corpside")
            div(class="corpside_text")
                p Copyrighting © Toxin отель. Все права защищены
            div(class="corpside_social")








