section(id="topside")
    div(class="wrapper")
        div(class="topside_corp")
            a(href="index.html")
                div(class="topside-logo")

        div(class="topside_nav")
            div(class="topside_nav-menu")
                menu
                    li: a(href="#") О нас
                    li: a(href="#") Услуги
                    li: a(href="#") Вакансии 
                    li: a(href="#") Новости
                    li: a(href="#") Соглашения

        div(class="topside_bths")
            a(class="signin", href="enter.html") 
                h3 Войти
            a(class="signup", href="reg.html") 
                h3 Зарегестрироваться
