extends ../layouts/main.pug
include ../includes/utils/cards
include ../includes/utils/forms

block content
    -var content_simple = [{title:'Можно курить'}, {title:'Можно с питомцами'}, {title:'Можно пригласить гостей (до 10 человек)'},]
    -var content_availability = [{title:'Широкий коридор', text:'Ширина коридоров в номере не менее 91см'}, {title:'Помошник для инвалидов',text: 'На 1 этаже вас встретит специалист и проводит до номера'}]
    link(rel="stylesheet", href="css/star.css")
    section(id="middleside")
        
        div(class="wrapper")
            div
                +casper_input("Дата пребывания в отеле")
                +casper_select("Гости")
                +casper_range("Диапазон цены", "5000-10000₽")
                +casper_checkbox('Checkbox buttons', null, content_simple)
                +casper_checkbox('Доступность', null, content_availability)
                +casper_select("Удобства номера")
                
                //- +casper_checkbox('Доступность',null, [{title:'Широкий коридор',text:'Ширина коридоров в номере не менее 91см'},{title:'Помошник для инвалидов',text: 'На 1 этаже вас встретит специалист и проводит до номера'}])
                
                
            div()        
                div 
                    h1 Номера, которые мы для вас подобрали 
                - n = 0;
                while n < 12
                    - n++
                    +card-filters(Math.floor(Math.random()*(100-0+1)+0))