extends ../layouts/main.pug
include ../includes/utils/cards

block content
    link(rel="stylesheet", href="css/star.css")
    section(id="middleside")
        
        div(class="wrapper")
            div
                div(class="card_casper")
                    div(class="card_header")
                        h3 Даты пребывания в отеле
                    div(class="card_body")
                        input(type="text" class="date1" placeholder="21 Авг - 31 Дек")
                div(class="card_casper")
                    div(class="card_header")
                        h3 Гости
                    div(class="card_body")
                        select
                            option 3 Гостя, 1 Младенец
                            option 2 Гостя, 2 Младенца
                div(class="card_casper")
                    div(class="card_header")
                        h3 Диапазон цены 
                        span(class="small-text") 5000₽ - 10000₽
                    div(class="card_body")
                        <div id="slider-range"></div>
                        p(class="small-text") Стоимость за сутки пребывания в номере
                div(class="card_casper")
                    div(class="card_header")
                        h3 Checkbox buttons
                    div(class="card_body")
                        input(type="checkbox" id="ch1")
                        label(for="ch1") Можно курить
                        input(type="checkbox" id="ch2" checked) 
                        label(for="ch2") Можно с питомцами   
                        input(type="checkbox" id="ch3" checked) 
                        label(for="ch3") Можно пригласить гостей (до 10 человек)  
                div(class="card_casper")
                    div(class="card_header")
                        h3 Доступность 
                    div(class="card_body")
                        div
                            input(type="checkbox" id="ch4")
                            label(for="ch4") Широкий коридор
                        div
                            input(type="checkbox" id="ch5")
                            label(for="ch5") Помошник для инвалидов
                div(class="card_casper")
                    div(class="card_header")
                        h3 Удобства номера 
                    div(class="card_body")
                        select()
                            option(value="" selected disabled) Удобства номера 
                            option(value="") Спальни
                            option(value="") Кровати
                            option(value="") Ванные комнаты
            div()        
                div 
                    h1 Номера, которые мы для вас подобрали 
                - n = 0;
                while n < 12
                    - n++
                    
                    +card-filters(Math.floor(Math.random()*(100-0+1)+0))