extends ../sides/base.pug
block content
    link(rel="stylesheet", href="styles/detail_styles.css")
    section(id="middleside")
        div(class="full_wrapper")
            div(class="main_img")
            div(class="sub_img")
            div(class="sub_img2")
            
        div(class="wrapper")
            div(class="card_casper")
                div(class="card_casper-header")
                    h2 Сведения о номере
                div(class="card_casper-body")
                    div
                        h3 Комфорт
                        p Шумопоглощающие стены
                    div
                        h3 Удобство
                        p Шумопоглощающие стены
                    div
                        h3 Уют
                        p Номер оснащен камином
//- div(class="row detail_head")
//-     div(class="col main_img")

//-     div
//-     div(class="col sub_img")
//- div(class="row")
//-     div(class="col")
        
//-     div(class="col")
//-         div(class="casper_card")
//-             div(class="casper_card-header")
//-                 h2 Сведения о номере
//-             div(class="casper_card-body")
//-                 div
//-                     h3 Комфорт
//-                     p Шумопоглощающие стены
//-                 div
//-                     h3 Удобство
//-                     p Шумопоглощающие стены
//-                 div
//-                     h3 Уют
//-                     p Номер оснащен камином