extends ../sides/base.pug
block content
    link(rel="stylesheet", href="styles/detail_styles.css")
    section(id="middleside")
        div(class="full_container")
            div(class="row detail_head")
                div(class="col main_img")

                div(class="col sub_img")
                div(class="col sub_img")
        div(class="container")
            div(class="row")
                div(class="col")
                    div(class="casper_card")
                        div(class="casper_card-header")
                            h2 Сведения о номере
                        div(class="casper_card-body")
                            div
                                h3 Комфорт
                                p Шумопоглощающие стены
                            div
                                h3 Удобство
                                p Шумопоглощающие стены
                            div
                                h3 Уют
                                p Номер оснащен камином
                div(class="col")
                    div(class="casper_card")
                        div(class="casper_card-header")
                            h2 Сведения о номере
                        div(class="casper_card-body")
                            div
                                h3 Комфорт
                                p Шумопоглощающие стены
                            div
                                h3 Удобство
                                p Шумопоглощающие стены
                            div
                                h3 Уют
                                p Номер оснащен камином
                    