html
    head
        meta(charset="utf-8")
        title The best Hotel in world!
        link(rel="stylesheet", href="../static/source/css/main.css")


    body
        include sides/topmenu.pug

        block content
            p Basa

        include sides/footer.pug