html, body {height:100%;}
*{
    margin: 0;
    padding: 0;
    outline: none;   
}
*, ::after, ::before {
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 100%;
    // color: $ui_dark_shade3;
    // line-height: 24px;
}

.card{
    padding: $ui_padding_small;
    display: inline-flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 0px 25px $ui_dark_shade1;
    border-radius: 4px;

    .card_header{
        padding-bottom: 20px;
        flex-basis: 100%;
    }

    .card_body{
        display: inline-flex;
    }
    .card_footer{

    }
}
.casper_card{
    background: none;
    box-shadow: none;
    margin-bottom: 30px;
    
    &:first-of-type{
        margin-bottom: 20px;
    }
    h3{
        padding-bottom: 5px;
    }
    .casp_head{
        text-align: justify;
    }
    .casp_body{

    }
    .casp_footer{

    }


}
.search_hotel{
    // margin-top: 70px;
    width: 320px;
    height: 313px;
}

.res_card{
    // display: inline-flex;
    // flex-basis: 270px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.5);
    border-radius: 4px;


    .res_card-header{
        height: 151.3px;
        width: 100%;
        background: url(../../templates/_results/imgs/room.png);
        background-repeat: no-repeat;
    }
    .res_card-body{
        padding: 20px;
    }
    .res_card-footer{
        width: 100%;
        border-top: 1px solid rgba(31, 32, 65, 0.1);
    }
}

menu{
    list-style: none;
}
.topside-menu menu{
    
    li{
        margin-right: 20px;
    }
    li:nth-last-of-type(1){
        margin-right: 0px;
    }
}