/* Sizes */
$size_container: 1160px; 
$size_min: 270px;

/* Paddings */

$padding_middle: 40px;

$padding_40: 40px; // 20px
$padding_30: 30px;
$padding_20: 20px;
$padding_10: 10px;
$padding_15: 15px; // 15px


/* Colors for UI */
$ui_dark_shade1: #1f2041;
$ui_dark_shade2: scale-color($ui_dark_shade1, $alpha: -75%);
$dark50: scale-color($ui_dark_shade1, $alpha: -50%);
$ui_dark_shade4: scale-color($ui_dark_shade1, $alpha: -25%);
$ui_dark_shade5: scale-color($ui_dark_shade1, $alpha: -5%);
$purple: #bc9cff;
$green: #6fcf97;


/* Text family for UI */
$text-h1: 24px;
$text-h2: 19px;
$text-h3: 12px;
$text-body: 14px;