block variables
html
    head

        meta(charset="utf-8")
        title #{title}
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
        
    body
        include ../includes/modules/header.pug
        block content
        include ../includes/modules/footer.pug