html, body {height:100%;}
*{
    margin: 0;
    padding: 0;
    outline: none;   
}
*, ::after, ::before {
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 100%;
    // color: $ui_dark_shade3;
    // line-height: 24px;
}


menu{
    list-style: none;
}
.topside-menu menu{
    
    li{
        margin-right: 20px;
    }
    li:nth-last-of-type(1){
        margin-right: 0px;
    }
}