h1 Номера, которые мы для вас подобрали 
- var n = 0;
while n < 3
    - n++
    div(class="row")
        div(class="col")
            div(class="res_card")
                div(class="res_card-header")
                div(class="res_card-body")
                    div(class="res_card-footer")
                        p.
                            Footer
                