.container{
    background: white;
    width: 1160px;
    margin: 0 auto;
}
#topside{
    height: 70px;

    .topside_box{
        padding: $ui_padding_exsmall 0px;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between;
        flex-wrap: nowrap;
        display: flex;
    }
    
    .topside-logo{
        background: url("../img/logo.png") no-repeat;
        height: 40px;
        width: 106px;
    }
    .topside-menu{
        list-style: none;
        font-family: 'Montserrat';
        padding: 13px 0px;
        li{ 
            display: inline-block;
            padding-right: 20px;
            font-size: 14px;
            line-height: 17px;
            color: $ui_dark_shade3; 
        }
    }
    .topside-buttons{
        height:100%;
    }

}

.middleside{
    height: 830px;
    background: url("../img/lounge.jpg") no-repeat green;
    background-size: cover;
    background-position-y: 100%;
}
