.container{
    // width: 1160px;
    margin: 0 auto;
    // display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    display: flex;
    flex-grow: 1;
    // grid-template-columns: 1fr 2fr 1fr;
}

/* Top part's layout style*/
#topside{
    background: white !important;
    padding: $ui_padding_exsmall 0px;
    #topside_box{
        
        
    }
    
    .topside-logo{
        background: url("../img/logo.png") no-repeat;
        height: 40px;
        width: 106px;
        order: 0;
    }
    .topside_nav{
        display: flex;
    }
    .topside_nav-menu{
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        padding: 12px 0px;
        order: 1;
        li{ 
            display: inline-block;
            padding-right: 20px;
            font-size: 14px;
            line-height: 17px;
            color: $ui_dark_shade3; 
        }
    }
    .topside_nav-buttons{
        order: 2;
    }

}
// .topside-buttons{
//     align-self: flex-end;
//     height:100%;
// }
.middleside{
    height: 830px;
    background: url("../img/lounge.jpg") no-repeat green;
    background-size: cover;
    background-position-y: 100%;
}

/* Footer styles */
#downside{
    
    
    .downside_box{
        padding: 100px 0px;
        // &>div{ 
        //     display: inline-flex;
        // }
       
    }
    /* Block with corp info*/
    
    .downside_corp{
        width: 260px;
    }
        .downside_corp-logo{
            background: url("../img/logo.png") no-repeat;
            height: 40px;
            width: 106px;
        }
        .downside_corp-text{
            padding: 18px 0px; 
        }

}