/* Sizes */
$ui_size_container: 100%;
$ui_padding: 30px;


/* Colors for UI */
$ui_dark_shade1: #1f2041;
$ui_dark_shade2: $ui_dark_shade1*0.75; 
$ui_dark_shade3: $ui_dark_shade1*0.50; 
$ui_dark_shade4: $ui_dark_shade1*0.25; 
$ui_dark_shade5: $ui_dark_shade1*0.05; 
$ui_purple: #bc9cff;
$ui_green: #6fcf97;


/* Text family for UI */